body{
	font-family: Helvetica;
	background-color: #FFFFFF;
	width: 80%;
	padding: 20px;
	margin: auto;
	font-size: 20px;
}

#header{
	background-color: #028090;
	color: white;
	text-align: center;
	width: 1000px;
	height: 300px;
	display: table-cell;
	vertical-align: middle;
	font-size: 30px;
}

#content{
	margin-top: 30px;
}

#nav{
	width: 180px;
	float: left;
	margin-bottom: 30px;
}

#main{
	text-indent: 50px;
	max-width: 800px;
	width: 100%;
	float: left;
	margin-bottom: 30px;
}

#footer{
	clear: both;
}

img{
	width: 100%;
  	height: 100%;
  	max-width: 1000px;
  	max-height: 600px;
  	display: block;
  	margin-bottom: 30px;
}

canvas{
	background-color: black;
	margin: auto;
    display: block;
}